<ion-header>
  <ion-toolbar>
    <ion-title>
      Team Details
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="grid">
    <ion-row class="team-info">
      <ion-button (click)="saveItem(detail)" class="save-button" fill="clear">
        <ion-icon name="heart-circle-outline" slot="start"></ion-icon>
        Favorite
      </ion-button>
      <ion-col size="12" size-md="12">
        <h2 class="team-heading">Team Badge :</h2>
        <ion-thumbnail class="team-badge">
          <img class="logo" src="{{ detail.strTeamBadge }}" alt="{{ detail.strTeam }}">
        </ion-thumbnail>
      </ion-col>
      <ion-col size="12" size-md="12">
        <h2 class="team-heading">Team Name :</h2>
        <ion-label class="team-name">{{ detail.strTeam }} </ion-label>
      </ion-col>
      <ion-col size="12" size-md="12">
        <h2 class="team-heading">League :</h2>
        <ion-label class="team-year">{{ detail.strLeague }}</ion-label>
      </ion-col>
      <ion-col size="12" size-md="12">
        <h2 class="team-heading">Season :</h2>
        <ion-label class="team-stadium">{{ detail.strSeason }}</ion-label>
      </ion-col>
      <ion-col size="12" size-md="12">
        <h2 class="team-heading">Description :</h2>
        <p class="team-description">{{ detail.strDescription }}</p>
      </ion-col>

      
      <h2>Details Event Team :</h2>
      <table>
        <tr>
          <th>Rank</th>
          <th>GP</th>
          <th>W</th>
          <th>D</th>
          <th>L</th>
          <th>GF</th>
          <th>GA</th>
          <th>GD</th>
          <th>Pts</th>
        </tr>
        <tr>
          <td>{{ detail.intRank }}</td>
          <td>{{ detail.intPlayed }}</td>
          <td>{{ detail.intWin }}</td>
          <td>{{ detail.intDraw }}</td>
          <td>{{ detail.intLoss }}</td>
          <td>{{ detail.intGoalsFor }}</td>
          <td>{{ detail.intGoalsAgainst }}</td>
          <td>{{ detail.intGoalDifference }}</td>
          <td>{{ detail.intPoints }}</td>
        </tr>
      </table>
      
    
    </ion-row>
  </ion-grid>
</ion-content>